# Project exclude paths
/springcloud_common/target/
/springcloud_consumer/target/
/springcloud_feign/target/
/springcloud_gateway/target/
/springcloud_provider/target/
/springcloud_provider_redis/target/